Adafruit-ADS1x15==1.0.2
Adafruit-Blinka==4.1.0
adafruit-circuitpython-busdevice==4.2.1
adafruit-circuitpython-max31856==0.8.4
Adafruit-GPIO==1.0.4
Adafruit-PlatformDetect==2.3.0
Adafruit-PureIO==1.0.4
arandr==0.1.9
asn1crypto==0.24.0
automationhat==0.2.0
blinker==1.4
blinkt==0.1.2
buttonshim==0.0.2
bzr==2.8.0.dev1
Cap1xxx==0.1.3
catkin-pkg==0.4.22
catkin-pkg-modules==0.4.22
certifi==2018.8.24
chardet==3.0.4
Click==7.0
colorama==0.3.7
colorzero==1.1
configobj==5.0.6
configparser==3.5.0b2
cookies==2.2.1
cryptography==2.6.1
distro==1.3.0
docutils==0.14
drumhat==0.1.0
entrypoints==0.3
enum34==1.1.6
envirophat==1.0.0
ExplorerHAT==0.4.2
Flask==1.0.2
fourletterphat==0.1.0
funcsigs==1.0.2
gpiozero==1.5.1
gyp==0.1
httplib2==0.11.3
idna==2.6
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.10
keyring==17.1.1
keyrings.alt==3.1.1
launchpadlib==1.10.6
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
MarkupSafe==1.1.0
mcpi==0.1.1
mercurial==4.8.2
microdotphat==0.2.1
mock==2.0.0
mote==0.0.4
motephat==0.0.3
numpy==1.16.2
oauthlib==2.1.0
olefile==0.46
paho-mqtt==1.5.0
pantilthat==0.0.7
pbr==4.2.0
phatbeat==0.1.1
pianohat==0.1.0
picamera==1.13
picraft==1.0
piglow==1.2.5
pigpio==1.44
Pillow==5.4.1
pycairo==1.16.2
pycrypto==2.6.1
pyflakes==2.0.0
pyftdi==0.44.2
pygame==1.9.4.post1
Pygments==2.3.1
PyGObject==3.30.4
pyinotify==0.9.6
PyJWT==1.7.0
pyOpenSSL==19.0.0
pyparsing==2.2.0
pyserial==3.4
python-dateutil==2.7.3
pyusb==1.0.2
pyxdg==0.25
PyYAML==3.13
rainbowhat==0.1.0
requests==2.21.0
requests-oauthlib==1.0.0
responses==0.9.0
roman==2.0.0
rosdistro==0.8.2
rosdistro-modules==0.8.2
rosinstall==0.7.8
rospkg==1.2.8
rospkg-modules==1.2.8
RPi.bme280==0.2.3
RPi.GPIO==0.7.0
RTIMULib==7.2.1
scrollphat==0.0.7
scrollphathd==1.2.1
SecretStorage==2.3.1
sense-emu==1.1
sense-hat==2.2.0
simplejson==3.16.0
six==1.12.0
skywriter==0.0.7
smbus2==0.3.0
sn3218==1.2.7
spidev==3.4
sysv-ipc==1.0.1
touchphat==0.0.1
twython==3.7.0
unicornhathd==0.0.4
urllib3==1.24.1
vcstools==0.1.42
wadllib==1.3.3
Werkzeug==0.14.1
wstool==0.1.17
